@model TerminalDetailsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container row border ml-1 backgroundWhiteBorder10Padding" style="width:100%">
    <div class="col-lg-8 col-12" style="border-right:1px solid #bbb9b9">
        <br />
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="SystemName"></label>
            </div>
            <div class="col-9">
                <input asp-for="SystemName" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="OsName"></label>
            </div>
            <div class="col-9">
                <input asp-for="OsName" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Version"></label>
            </div>
            <div class="col-9">
                <input asp-for="Version" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="MAC"></label>
            </div>
            <div class="col-9">
                <input asp-for="MAC" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Processor"></label>
            </div>
            <div class="col-9">
                <input asp-for="Processor" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Motherboard"></label>
            </div>
            <div class="col-9">
                <input asp-for="Motherboard" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="RAM"></label>
            </div>
            <div class="col-9">
                <input asp-for="RAM" disabled class="form-control" />
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-12">
        <h4 class="d-flex justify-content-between align-content-center mb-3">
            <span class="text-muted">Corresponding Certificate:</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">@Model.Certificate.Subject.Substring(3)</h6>
                    <small class="text-muted">Subject Name</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">@Model.Certificate.ValidDate</h6>
                    <small class="text-muted">Valid From</small>
                </div>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">@Model.Certificate.ExpiryDate</h6>
                    <small class="text-muted">Until</small>
                </div>
            </li>
        </ul>
    </div>

</div>
